<html>
    <head>
        <title>
            Career Counsellor
        </title>
      <link rel="stylesheet" types="text/css" href="aboutuspage.css">
      <link rel="stylesheet" type="text/css" href="bootstrap.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    
    
    <body>
         <div class="bgimage">
           <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
             <div class="container">
                 <a href="" class="navbar-brand text-warning font-weight-bold">V-PROGEEKS</a>
                 
                 
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar"> 
                 
                 <span class="navbar-toggler-icon"></span>
                 
                 </button>
                 
                 <div class="collapse navbar-collapse " id="collapsenavbar">
                     <ul class="navbar-nav ml-auto ">
                         <li class="nav-item">
                             <a href="" class="nav-link text-white">Services </a>
                         </li>
                         
                         <li class="nav-item">
                             <a href="aboutuspage.html" class="nav-link text-white">About Us </a>
                         </li>
                         
                         <li class="nav-item">
                             <a href="teampage.html" style="text-decoration: none; color: white;" class="nav-link text-white">Team </a>
                         </li>
                         
                         <li class="nav-item">
                             <a href="" class="nav-link text-white"> Contact</a>
                         </li>
                     </ul>
                 </div>
             </div>
             
             </nav>
             
             <div class="container text-center text-white headerset">
                 
                 <h1>ABOUT US</h1><br>
                 
             </div>
             </div>
             <div class="container-fluid box1 text-center ">
                 
                 <h1>About Us</h1>
                 <p>We are a team of 6 ML enthusiasts, who are students studying in 1st year at KIET. We develop Machine learning model by extracting the data from various sources. Our team consists of Web Developers and ML coders who are ready to learn new technologies and implement them in projects. </p>

                 <h3>Our Team motto is : "Stay Hungry. Stay Foolish"
                     We are hungry to learn things. We know that it is a never ending process.</h3>
                 
             </div>
             
        <div class=" container text-center bg-dark" style="  font-size:16px; padding:9px; ">
            <p style="margin-top:0; padding:0; color: orange;">Design and developed by Data Hackers</p>
        </div>
             
             
            
             
       
    </body>
</html>