<html> 
<body> 
    <h3>Branch Prediction Form</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="age">Name</label> 
    <input type="text" id="age" name="age"> 
    <br>  <br>
    <br>
    <br>
    <br>
    <label for="w_class">Average Marks you got in Science in your High school</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">1</option> 
      <option value="1">2</option> 
      <option value="2">3</option> 
      <option value="3">4</option> 
      <option value="4">5</option> 
      <option value="5">6</option> 
      <option value="6">7</option> 
      <option value="7">8</option> 
      <option value="8">9</option> 
      <option value="9">10</option> 
      
    </select> 
    <br>  <br>
    <br>
    <br>
    <br>
    
    
    <label for="w_class">Average Marks you got in Maths in your High school</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">1</option> 
      <option value="1">2</option> 
      <option value="2">3</option> 
      <option value="3">4</option> 
      <option value="4">5</option> 
      <option value="5">6</option> 
      <option value="6">7</option> 
      <option value="7">8</option> 
      <option value="8">9</option> 
      <option value="9">10</option> 
      
    </select> 
    
    
    <br>
     <br>
    <br>
    <br>
    <br>
    <label for="w_class">Mark Your Logical Skill</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">1</option> 
      <option value="1">2</option> 
      <option value="2">3</option> 
      <option value="3">4</option> 
      <option value="4">5</option> 
      <option value="5">6</option> 
      <option value="6">7</option> 
      <option value="7">8</option> 
      <option value="8">9</option> 
      <option value="9">10</option> 
      
    </select> 
    
     <br>
    <br>
    <br>
    <br>
    <br>
    
    
    <label for="w_class">Mark Your memorizing skill capacity out of 10</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">1</option> 
      <option value="1">2</option> 
      <option value="2">3</option> 
      <option value="3">4</option> 
      <option value="4">5</option> 
      <option value="5">6</option> 
      <option value="6">7</option> 
      <option value="7">8</option> 
      <option value="8">9</option> 
      <option value="9">10</option> 
      
    </select> 
    <br>
     <br>
    <br>
    <br>
    <br>
    <label for="w_class">Mark your understanding skill how deeply you understand anything</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">1</option> 
      <option value="1">2</option> 
      <option value="2">3</option> 
      <option value="3">4</option> 
      <option value="4">5</option> 
      <option value="5">6</option> 
      <option value="6">7</option> 
      <option value="7">8</option> 
      <option value="8">9</option> 
      <option value="9">10</option> 
      
    </select> 
    
    <br> 
     <br>
    <br>
    <br>
    <br>
    <label for="w_class">How likely do you want to learn new technologies came to market</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">1</option> 
      <option value="1">2</option> 
      <option value="2">3</option> 
      <option value="3">4</option> 
      <option value="4">5</option> 
      <option value="5">6</option> 
      <option value="6">7</option> 
      <option value="7">8</option> 
      <option value="8">9</option> 
      <option value="9">10</option> 
      
    </select> 
    
    <br>
     <br>
    <br>
    <br>
    <br>
    
     
      <label for="w_class">Do you Have Interest in robotics,building design or hardware</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">Yes</option> 
      <option value="1">No</option> 
     
    </select> 
    <br>
     <br>
    <br>
    <br>
    <br>
    <br>
    <label for="w_class">How much you have interest in computer programming or coding</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">1</option> 
      <option value="1">2</option> 
      <option value="2">3</option> 
      <option value="3">4</option> 
      <option value="4">5</option> 
      <option value="5">6</option> 
      <option value="6">7</option> 
      <option value="7">8</option> 
      <option value="8">9</option> 
      <option value="9">10</option> 
      
    </select> 
    
    <br>
     <br>
    <br>
    <br>
    <br>
    
      <label for="w_class">Choose Any One of the following</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">Fame </option> 
      <option value="1">Money</option> 
     
    </select> 
    
     
      <br>
       <br>
    <br>
    <br>
    <br>
      
       
         <label for="w_class">What do you see yourself in next 10 years</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">Well settled life with average pay</option> 
      <option value="1">Hectic life with higher pay</option> 
     
    </select> 
    
     <br> 
      <br>
    <br>
    <br>
    <br>
     
      <label for="w_class">Do you love studying Mathematics and Science</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">Yes</option> 
      <option value="1">No</option> 
     
    </select> 
    
    <br>
     <br>
    <br>
    <br>
    <br>
    
    
      <label for="w_class">What is Your Stream</label> 
    <select id="w_class" name="w_class"> 
      <option value="0">Science</option> 
      <option value="1">Commerce</option> 
      <option value="1">Arts</option> 
     
    </select> 
    
    <br>
    <br>
    <br>
    <br>
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html>