<html>
    <head>
        <title>
           You are safe
        </title>
      <link rel="stylesheet" types="text/css" href="/static/commerce.css">
      <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <style>.bgimage{

        background-image: url({{ url_for('static', filename='side-view-of-woman-in-illuminated-city-at-night-315191.jpg') }});
    background-size: 100% 100%;
    background background-attachment: fixed;
    width: 100%;
    height: 760px;
    }
    </style>
    
    <body>
         <div class="bgimage">
           <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
             <div class="container">
                 <a href="" class="navbar-brand text-warning font-weight-bold">V-PROGEEKS</a>
                 
                 
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar"> 
                 
                 <span class="navbar-toggler-icon"></span>
                 
                 </button>
                 
                 <div class="collapse navbar-collapse " id="collapsenavbar">
                     <ul class="navbar-nav ml-auto ">
                         <li class="nav-item">
                             <a href="" class="nav-link text-white">Services </a>
                         </li>
                         
                         <li class="nav-item">
                             <a href="" class="nav-link text-white">About Us </a>
                         </li>
                         
                         <li class="nav-item">
                             <a href="" class="nav-link text-white">Team </a>
                         </li>
                         
                         <li class="nav-item">
                             <a href="https://www.google.com" class="nav-link text-white"> Contact</a>
                         </li>
                     </ul>
                 </div>
             </div>
             
             </nav>

             <br><br><br><br><br><br><br><br>
             <div class="jumbotron">
  <h1 class="display-4">According to the data you enter the area is safe.</h1>
  <p class="lead">The area is safe according to ou dataset .</p>
  <hr class="my-4">
  <p>Studying Commerce as a stream can be defined as a study of business activities 
  such as sale and purchase of goods and services from the producer to a buyer. <br>
  The most respectable career options in this stream are Chartered Accountant and MBA position holders. <br><br> 
  </p>
             </div>
         </div>

    </body>
</html>